<h1>Exercise 3 Vocabulary</h1>
<h2>What school activities do you see on the picture?</h2>

<ul class="options">
	<li>
		<img src="app/data/images/pictures/exercise1/1.png" alt=""/>
	</li>
	<li>
		<img src="app/data/images/pictures/exercise1/2.png" alt=""/>
	</li>
	<li>
		<img src="app/data/images/pictures/exercise1/3.png" alt=""/>
	</li>
	<li>
		<img src="app/data/images/pictures/exercise1/4.png" alt=""/>
	</li>
	<li>
		<img src="app/data/images/pictures/exercise1/5.png" alt=""/>
	</li>
	<li>
		<img src="app/data/images/pictures/exercise1/6.png" alt=""/>
	</li>
</ul>