<h1>Exercise 3 Vocabulary</h1>
<h2>Label the weather symbols</h2>

<div class="task">
<form>
	<ul class="options">
		<li>
			<div class="img">
				<img src="app/data/images/pictures/exercise2/1.png" alt="" />
			</div>			
			<div class="answer example">
				<p>Example:</p>
				<label>1 <input type="text" name="1" /></label>
			</div>
		</li>
		<li>
			<div class="img">
				<img src="app/data/images/pictures/exercise2/2.png" alt="" />
			</div>			
			<div class="answer">
				<label>2 <input type="text" name="2" /></label>
			</div>
		</li>
		<li>
			<div class="img">
				<img src="app/data/images/pictures/exercise2/3.png" alt="" />
			</div>			
			<div class="answer">
				<label>3 <input type="text" name="3" /></label>
			</div>
		</li>
		<li>
			<div class="img">
				<img src="app/data/images/pictures/exercise2/4.png" alt="" />
			</div>			
			<div class="answer">
				<label>4 <input type="text" name="4" /></label>
			</div>
		</li>
		<li>
			<div class="img">
				<img src="app/data/images/pictures/exercise2/5.png" alt="" />
			</div>			
			<div class="answer">
				<label>5 <input type="text" name="5" /></label>
			</div>
		</li>
		<li>
			<div class="img">
				<img src="app/data/images/pictures/exercise2/6.png" alt="" />
			</div>			
			<div class="answer">
				<label>6 <input type="text" name="6" /></label>
			</div>
		</li>
	</ul>
</form>

<ul class="variants">
	<li>snowing</li>
	<li>clowdy</li>
	<li>raining</li>
	<li>foggy</li>
	<li>windy</li>
	<li>sunny</li>
</ul>

</div>